* { box-sizing: border-box; 
  padding: 0; 
  margin: 0; 
} 



body {
  background-color:#d8bee7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.contenedor {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 100px;
  background: #ab69d1;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 4px 5px 7px 3px #b274ec75;
}

.contenedor .izquierda {
  position: relative;
  background: #722f99;
  padding: 40px;
}

.perfil {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.perfil .imagen {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #a01aee;
	box-shadow: 4px 5px 7px 3px #b274ec75;

}

.perfil .imagen img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

}

.perfil h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
  text-shadow: 1px 1px 2px rgb(196, 137, 230) ;
}

.perfil h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.infodecontacto {
  padding-top: 40px;
  color: black;
  text-align: center;
}

.titulo {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.infodecontacto ul {
  position: relative;
}

.infodecontacto ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
}

.infodecontacto ul li .icono {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #c18ef175;
}

.infodecontacto ul li span {
  font-weight: 300;
}

.infodecontacto.educacion li {
  margin-bottom: 15px;
}

.infodecontacto.educacion h5 {
  color: #c18ef175;
  font-weight: 500;
}

.infodecontacto.educacion h4:nth-child(2) {
  color: black;
  font-weight: 500;
}

.infodecontacto.educacion h4 {
  color: black;
  font-weight: 300;
}

.infodecontacto.idiomas .porcentaje {
  position: relative;
  width: 100%;
  height: 6px;
  background: #a59ba8;
  display: block;
  margin-top: 5px;
}

.infodecontacto.idiomas .porcentaje div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;

}



.contenedor .derecha {
  position: relative;
  background: #ddcfe4;
  padding: 40px;
}


.sobremi {
  margin-bottom: 50px;
}

.sobremi:last-child {
  margin-bottom: 0;
}

.titulo2 {
  text-shadow: 1px 1px 2px #553f5acb;
  color: #722f99;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: rgb(9, 3, 20);
  font-size: 18px;
}

.sobremi .caja {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.sobremi .caja .año-empresa {
  min-width: 150px;
}

.sobremi .caja .año-empresa h5 {
  text-transform: uppercase;
  color: #602d91dc;
  font-weight: 600;
}

.sobremi .caja .texto h4 {
  text-transform: uppercase;
  color: #602d91dc;
  font-size: 16px;
}

.habilidades .caja {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.habilidades .caja h4 {
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  
}

.habilidades .caja .porcentaje {
  position: relative;
  width: 100%;
  height: 10px;
  background: #e6d9ec;
}

.habilidades .caja .porcentaje div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #612d91af;
}

.intereses {margin-top: 50px;
}

.intereses ul {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.intereses ul li {
  list-style: none;
  color: black;
  font-weight: 500;
  margin: 10px 0;
}

.boton {
  border: 1px solid #5f4970 ;
  font-weight: 300;
  font-size: 18px;
  padding: 10px;
  color:#5f4970  
}
  
 .boton:hover {background-color:  #602d91dc;
}

.boton2 {
  margin-top: 20px;
  border: 1px solid #3b3044;
  font-weight: 400;
  font-size: 15.7px;
  padding: 5px;
  color:#3b3044; 
}

.boton2:hover {background-color:  #602d91dc;
}


@media (max-width: 1000px)
{
  .contenedor {
    margin: 10px;
    grid-template-columns: repeat(1,1fr);
  }
  .intereses ul {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 600px)
{
  .sobremi .caja {
    flex-direction: column;
  }
  .sobremi .caja .año-empresa {
    margin-bottom: 5px;
  }
  .intereses ul {
    grid-template-columns: repeat(1,1fr);
  }
  .habilidades .caja {
    grid-template-columns: repeat(1,1fr);
  }
}

